{% extends 'Base.html' %}

{% block content %}

<div class="col-lg-12">
    <div class="right-content">
        <div class="row">
            <div class="col-lg-12">
			
			<div class="col-lg-12 text-center">
          <div class="section-heading">
            <h3>Welcome </h3>
          </div>
        </div>
			
      <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="static/Assets/single-game.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>Explain here Important of this system </h4>
          <p>  aaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbb cccccccccccccccccc dddddddddddddddddd eeeeeeeeeeeeee  aaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbb cccccccccccccccccc dddddddddddddddddd eeeeeeeeeeeeee. Thank you.</p>
          
          <ul>
          <li><span>Pathway Predictor:              </span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="pathway">Go</a></li>
                   <li><span>Performance Analysis:</span>    &nbsp;&nbsp;    <a href="student_performance">Go</a></li>
				             <li><span>Chabot:</span>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="chatbot">Go</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
				
			

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">About Application</button>
                  </li>

                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <p> aaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbb cccccccccccccccccc dddddddddddddddddd eeeeeeeeeeeeee  aaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbb cccccccccccccccccc</p>
                  <br>
                  <p> aaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbb cccccccccccccccccc dddddddddddddddddd eeeeeeeeeeeeee  aaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbb cccccccccccccccccc</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
